# Trabalhando com vários tipos de dados

In [6]:
# importando pandas
import pandas as pd

### Abrindo/Lendo arquivo json e importando

In [7]:
json = open('dados/aluguel.json')
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [8]:
# Importando arquivo json
df_json = pd.read_json('dados/aluguel.json')
df_json.head(2)

,Area,Bairro,Condominio,IPTU,Quartos,Suites,Tipo,Vagas,Valor
0,40,Copacabana,500.0,60.0,1,0,Quitinete,0,1700
1,100,Jardim Botânico,NaN,NaN,2,1,Casa,0,7000

### Abrindo/Lendo arquivo .txt e importando

In [9]:
txt = open('dados/aluguel.txt', encoding='UTF-8')
print(txt.read())

Tipo	Bairro	Quartos	Vagas	Suites	Area	Valor	Condominio	IPTU
Quitinete	Copacabana	1	0	0	40	1700	500	60
Casa	Jardim Botânico	2	0	1	100	7000
Conjunto Comercial/Sala	Barra da Tijuca	0	4	0	150	5200	4020	1111
Apartamento	Centro	1	0	0	15	800	390	20
Apartamento	Higienópolis	1	0	0	48	800	230
Apartamento	Vista Alegre	3	1	0	70	1200
Apartamento	Cachambi	2	0	0	50	1300	301	17
Casa de Condomínio	Barra da Tijuca	5	4	5	750	22000
Casa de Condomínio	Ramos	2	2	0	65	1000
Conjunto Comercial/Sala	Centro	0	3	0	695	35000	19193	3030

In [10]:
df_txt = pd.read_table('dados/aluguel.txt')
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

### Importando arquivos do tipo xlsx

In [12]:
df_xlsx = pd.read_excel('dados/aluguel.xlsx')
df_xlsx

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

### Importando arquivo do tipo html

In [13]:
df_html = pd.read_html('dados/dados_html_1.html')
df_html

[  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
 0      00 A 18               R$218,99           R$192,60    R$334,48
 1      19 A 23               R$263,63           R$207,67    R$380,06
 2      24 A 28               R$322,44           R$224,26    R$464,39
 3      29 A 33               R$402,05           R$258,63    R$566,68
 4      34 A 38               R$455,17           R$306,37    R$664,61
 5      39 A 43               R$489,29           R$417,93    R$742,72
 6      44 A 48               R$582,65           R$495,24    R$869,47
 7      49 A 53               R$718,86           R$562,64  R$1.046,29
 8      54 A 58               R$908,54           R$721,00  R$1.355,74
 9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53]

In [14]:
df_html = pd.read_html('https://www.federalreserve.gov/releases/h3/current/default.htm')

#Esse DataFrame possui 3 tabela
len(df_html)

3

In [14]:
# Tabela 1
df_html[1]

,Date,Reserves,Vault cash 2,Monetary base,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,Total 1,Required,Total,Used to satisfy required reserves 3,Surplus 4,Total 5,Total balances maintained 6,Currency in circulation,Unnamed: 8_level_1
0,Month 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aug. 2019,1586844.0,200608.0,78451.0,65969.0,12483.0,3271378.0,1520876.0,1750502.0
2,Sept. 2019,1504805.0,199741.0,76550.0,65035.0,11516.0,3202668.0,1439771.0,1762898.0
3,Oct. 2019,1547136.0,200621.0,76660.0,65623.0,11037.0,3252807.0,1481513.0,1771294.0
4,Nov. 2019,1595222.0,206586.0,76921.0,65881.0,11040.0,3315551.0,1529341.0,1786209.0
5,Dec. 2019,1698344.0,207239.0,80168.0,68255.0,11914.0,3426464.0,1630090.0,1796375.0
6,Jan. 2020,1715219.0,214652.0,81216.0,69835.0,11381.0,3442569.0,1645384.0,1797185.0
7,Feb. 2020,1726943.0,208324.0,80735.0,69954.0,10781.0,3454474.0,1656989.0,1797485.0
8,Mar. 2020,2099369.0,167360.0,77114.0,54222.0,22892.0,3883155.0,2045148.0,1838007.0
9,Apr. 2020,2953586.0,0.0,88104.0,0.0,88104.0,4844940.0,2953586.0,1891355.0
10,May 2020,3217635.0,0.0,101345.0,0.0,101345.0,5149527.0,3217635.0,1931891.0
11,June 2020,3043556.0,0.0,104201.0,0.0,104201.0,5001978.0,3043556.0,1958422.0
12,July 2020,2718529.0,0.0,98392.0,0.0,98392.0,4700365.0,2718529.0,1981836.0
13,Aug. 2020,2799719.0,0.0,95327.0,0.0,95327.0,4807394.0,2799719.0,2007675.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Two weeks ending 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"July 15, 2020",2795785.0,0.0,99459.0,0.0,99459.0,4772522.0,2795785.0,1976737.0
17,"July 29, 2020",2623526.0,0.0,97225.0,0.0,97225.0,4609143.0,2623526.0,1985617.0
18,"Aug. 12, 2020",2751124.0,0.0,95638.0,0.0,95638.0,4750981.0,2751124.0,1999857.0
19,"Aug. 26, 2020",2821740.0,0.0,95066.0,0.0,95066.0,4830999.0,2821740.0,2009260.0
20,"Sept. 9, 2020",2854690.0,0.0,95313.0,0.0,95313.0,4876690.0,2854690.0,2022000.0