# Relatório de Análise I

Explorando a base de dados

In [1]:
# Importando bibliotecas
import pandas as pd

In [2]:
# Importando base de dados
dados = pd.read_csv('../dados/aluguel.csv', sep = ';')

## Informação Geral Sobre a Base de Dados

In [5]:
# Tipos de dados que tem no DataFrame
dados.dtypes

Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64
Valor m2         float64
Tipo Agregado     object
dtype: object

In [9]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns= ['Tipos de Dados'])

In [10]:
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis     Tipos de Dados
Tipo                  object
Bairro                object
Quartos                int64
Vagas                  int64
Suites                 int64
Area                   int64
Valor                float64
Condominio           float64
IPTU                 float64
Valor m2             float64
Tipo Agregado         object

In [11]:
# quantidade de observações e variáveis que tem na base de dados
dados.shape

(19831, 11)

In [12]:
print(f'A quantidade de registo {dados.shape[0]} e {dados.shape[1]} variáreis.')

A quantidade de registo 19831 e 11 variáreis.